.header {
    background-color: #4758d6;
    align-content: center;
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: center;
    height: 50px;
}
.headerSmall {
    background-color: #4758d6;
    align-content: center;
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: center;
    height: 20px;
}
// .logo {
//     // width: 100%;
// }
// .actions {
//     border-radius: 100%;
// }
