.background {
  height: 95px;
  background-color: rgba(71, 88, 214, 50);
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}
// .backgroundImg {
//   width: 110px;
//   height: 110px;
//   border-radius: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transform: translate(45px, 45px);
//   background-color: rgba(255, 255, 255);

// }
.backgroundText {
  transform: translate(-0px, -70.5px);
}

.title_emoji {
  margin-left: 20px;
  color: #fff;
  font-size: 30px;
  align-self: center;
  user-select: none;
  cursor: pointer;
  font-weight: 600;
}
.title_profile {
  color: #fff;
  margin-left: 180px;
  font-size: 40px;
  font-weight: 600;
}
.title_content {
  margin-left: 180px;
  font-size: 20px;
  // font-weight: 600;
}
.about {
  // margin: 10px;
  margin-left: 180px;
  font-size: 14px;
  max-width: 500px;
  // font-weight: 600;
}
.title_about {
  // margin: 10px;
  font-size: 20px;
  // font-weight: 600;
}
.title_about_title {
  // margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  // font-weight: 600;
}
.title_about_content {
  // margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  // font-weight: 600;
}
.title_yes_no {
  // margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  // font-weight: 600;
}
