.background {
  height: 95px;
  background-color: rgba(71, 88, 214, 50);
  width: 100%;
  height: "100%";
}
.backgroundText {
  transform: translate(-0px, -60.5px);
}

.title_emoji {
  margin-left: 20px;
  color: #fff;
  font-size: 30px;
  align-self: center;
  user-select: none;
  cursor: pointer;
  font-weight: 600;
}
.title_profile {
  color: #fff;
  margin-left: 180px;
  font-size: 40px;
  font-weight: 600;
}
.title_content {
  margin-left: 180px;
  font-size: 20px;
  // font-weight: 600;
}
.about {
  // margin: 10px;
  margin-left: 180px;
  font-size: 14px;
  max-width: 500px;
  // font-weight: 600;
}
.title_about {
  // margin: 10px;
  font-size: 20px;
  // font-weight: 600;
}

.listTile {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
@media (max-width: 900px) {
  .listTile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (min-width: 901px) and (max-width: 1300px) {
  .listTile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }
}
.title_about_title {
  // margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  // max-width: 300px;
  // width: 100%;
  font-size: 16px;
  font-weight: 600;
  // font-weight: 600;
}
.title_about_content {
  // margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  // font-weight: 600;
}
.title_yes_no {
  // margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  // font-weight: 600;
}
